@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 195 98% 59%;
  --background: 0 0% 100%;
  --foreground: 210 4% 9%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}